{% extends 'customer/base.html' %}

{% block content %}
<div class="container col-lg-6">
    <h2 class="center">NEW BILL</h2>
    <p>MY ACCOUNT: {{post.account_name}} / ₦{{user.balance}}</p>
    <b>Daily Transaction Limit: <input type="range" min="0" max="{{account_limit}}" value="{{txn_limit}}" disabled> ₦{{txn_limit}} Remaining</b><br><br>
    <a href="{% url 'newbill' %}">Back</a><hr><br>
    <form method="post">
        {%csrf_token%}
        <p>Service: {{form.service}}</p>
        <p>Type: 
            <select id="subscriptionType" name="subscriptionType" required>
                <option value="renew">Renew Subscription</option>
                <option value="new">Change Subscription</option>
            </select>
        </p>
        <p>Plan: {{form.plan}}</p>
        <p>Smart Card Number: {{form.card_number}}</p>
        <p id="amountParagraph">AMOUNT: <span id="plan-amount">₦0.00</span></p>
        <div class="flex flex-justify"><div><input type="checkbox" name="saved"> Save Bill</div> <input type="submit" value="Next" class="btn btn-primary"></div>
    </form>
</div>

    {% load static %}
    <script src="{% static 'js/cableform.js' %}"></script>
    <script src="{% static 'js/cableform2.js' %}"></script>
{% endblock %}
