{% extends 'general/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="center"><h2>PRIVACY POLICY</h2></div>
    <h4>Effective Date: 01/01/2000</h4>
    <a href="{{request.META.HTTP_REFERER}}">Back</a><br><br>
    <p>
    <b>1. Introduction</b><br>
    Patridge Bank (Patridge Bank) is committed to protecting the privacy and security of your personal and financial information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your data when you use our services. By accessing or using our services, you consent to the practices described in this policy.
    <br><br>
    <b>2. Information We Collect</b><br>
    We may collect various types of information from you, including personal, financial, and technical data. This may include your name, contact details, account information, transaction history, device information, and more. We collect this information when you interact with our platforms, use our services, or communicate with us.
    <br><br>
    <b>3. How We Use Your Information</b><br>
    We use the information we collect to provide and improve our services, process transactions, comply with legal obligations, and enhance your experience. We may use your information to personalize offerings, detect and prevent fraud, conduct market research, and communicate with you about our products and services.
    <br><br>
    <b>4. Data Sharing and Disclosure</b><br>
    We may share your information with trusted third parties, including service providers, regulatory authorities, and affiliates. These third parties are bound by confidentiality agreements and are only authorized to use your information for specific purposes. We will not sell your information to third parties for marketing purposes without your consent.
    <br><br>
    <b>5. Security Measures</b><br>
    We implement robust security measures to protect your data from unauthorized access, disclosure, alteration, or destruction. We use encryption, firewalls, access controls, and regular security assessments to ensure the safety of your information.
    <br><br>
    <b>6. Your Choices and Rights</b><br>
    You have the right to access, correct, and delete your personal information. You can manage your communication preferences and opt-out of marketing communications. You can also choose whether to provide certain information, although this may affect your ability to use certain features.
    <br><br>
    <b>7. Cookies and Tracking Technologies</b><br>
    We use cookies and similar technologies to enhance your experience on our platforms and gather information about your usage patterns. You can adjust your browser settings to control cookies, but please note that disabling cookies may impact your experience.
    <br><br>
    <b>8. International Data Transfers</b><br>
    Your information may be transferred and stored in locations outside your country of residence. We take steps to ensure that your data is protected in accordance with applicable laws and regulations.
    <br><br>
    <b>9. Children's Privacy</b><br>
    Our services are not directed at individuals under the age of 18, and we do not knowingly collect personal information from minors without parental consent.
    <br><br>
    <b>10. Changes to this Privacy Policy</b><br>
    We may update this Privacy Policy from time to time to reflect changes in our practices and legal requirements. We will notify you of any significant changes and provide you with the updated policy.
    <br><br>
    <b>11. Contact Us</b><br>
    If you have any questions or concerns about this Privacy Policy or our data practices, please contact our Data Protection Officer at patridgebankgroup@yahoo.com.
    </p>
</div>
{% endblock %}
