{% extends 'staff/base.html' %}

{% block content %}
<div class="container col-lg-6">
    {% if topup.airtime %}
        <h2 class="center">CONFIRM TOPUP</h2><hr><br>
        <form method="post">
            {%csrf_token%}
            <p>TXN: {{topup.txn_id}}</p>
            <p>SERVICE: {{topup.airtime.service}}</p>
            <p>AMOUNT: ₦{{topup.amount}}</p>
            <p>PHONE NUMBER: {{topup.phone_number}}</p>
            <p>DATE: {{topup.date}}</p>
            <input type="submit" value="Confirm" class="btn btn-success">&nbsp;&nbsp;<a href="{% url 'customerairtime' topup.account.pk %}" class="btn btn-danger">Cancel</a>
        </form>
    {%endif%}
    {% if topup.data %}
        <h2 class="center">CONFIRM TOPUP</h2><hr><br>
        <form method="post">
            {%csrf_token%}
            <p>TXN: {{topup.txn_id}}</p>
            <p>SERVICE: {{topup.data.service}}</p>
            <p>PLAN: {{topup.data.plan}}</p>
            <p>AMOUNT: ₦{{topup.amount}}</p>
            <p>PHONE NUMBER: {{topup.phone_number}}</p>
            <p>DATE: {{topup.date}}</p>
            <input type="submit" value="Confirm" class="btn btn-success">&nbsp;&nbsp;<a href="{% url 'customerdata' topup.account.pk %}" class="btn btn-danger">Cancel</a>
        </form>
    {%endif%}
</div>
{% endblock %}
