{% extends 'staff/base.html' %}

{% block content %}
<div class="container col-lg-6">
    <form method="post">
        <h2 class="center">CONFIRM TRANSFER</h2><hr><br>
        <p>TXN: {{transfer.txn_id}}</p>
        <p>SENDER: {{transfer.sender.account_name}}/{{transfer.sender.account_number}}</p>
        <p>RECEIVER: {{transfer.receiver.account_name}}</p>
        <p>RECEIVER'S ACCOUNT NUMBER: {{transfer.receiver.account_number}}</p>
        <p>AMOUNT: ₦{{transfer.amount}}</p>
        {% if transfer.purpose %}<p>PURPOSE: {{transfer.purpose}}</p>{%endif%}
        <p>DATE: {{transfer.date}}</p>
        {% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-primary">&nbsp;&nbsp;<a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger">Cancel</a>
    </form>
</div>
{% endblock %}
