{% extends 'general/base.html' %}

{% block content %}
<div class="container mt-4 col-lg-6">
    <div class="center"><h2>FORGOT PASSWORD</h2></div><br>
    <p>Forgotten your password?<br><br>Enter your email address below, and we will send instructions for setting a new one. 
    Make sure that the email inputted is the same as the email registered for your account.</p>
    <div class="center">
        <form method="post">
            {% csrf_token %}
            {{form.as_p }}
            <button type="submit" class="btn btn-primary">Send Email</button> &nbsp; &nbsp; <a href="{% url 'customer_login'%}">Back To Login</a>
        </form>
    </div><br><br><br>
</div>
{% endblock %}
